<div class="publication">
  <i class="fas fa-book fa-pull-left publication-symbol"></i>
  {{ .Params.author }} ( {{- if .Params.inpress -}} in press {{- else -}} {{ .Params.year }} {{- end }}).
  <a href="{{ .Permalink }}">{{ .Title }}</a>. In: {{ .Params.editor }} (Eds.), <i>{{ .Params.publication }}</i>
  {{- if isset .Params "pages" }} (pp. {{ .Params.pages }}){{ end }}.
  {{ if  (and (isset .Params "location") (isset .Params "publisher")) }} {{ .Params.location }}: {{ .Params.publisher }}{{ end }}
  {{ if isset .Params "doi" }} doi: {{ .Params.doi }}{{ end }}
  {{ if isset .Params "link" }} <a href="{{ .Params.link }}"> [Link]</a>{{ end }}
</div>

