<div class="posts">

{{ range (where .Data.Pages "Section" "software").ByDate }}
  <div class="post">

    <h2 class="post-title">
      <a href="{{ .Permalink }}">{{ .Title }}{{ if isset .Params "subtitle" }}: {{ .Params.subtitle }}{{ end }}</a>
    </h2>
    <span class="summary-date">{{ .Date.Format "January 2, 2006" }}</span>

    {{ if isset .Params "thumbnail" }} <img src="/posts/{{ .File.BaseFileName }}_files/figure-html/{{ .Params.thumbnail }}" alt="thumbnail image" class="thumbnail"> {{ end }}

    {{ partial "element-summary.html" . }}

  </div>
{{- end }}

</div>
