{{ define "main" -}}
<div class="post">
  <h1 class="post-title">{{ .Title }}</h1>
  <span class="post-date">{{ .Date.Format "January 2, 2006" }}<span style="padding-left:0.5rem">{{ if ne .Lastmod .Date }}(last updated: {{ .Lastmod.Format "January 2, 2006" }}){{ end }}</span></span>
  {{ .Content }}
  {{ if .Params.tags }}
    <p class="post-tags">
    tags: {{ range $index, $tag := .Params.tags }}
      <a href="{{ "tags/" | relURL }}{{ . | urlize }}">[{{ . }}]</a>
    {{- end -}}
    </p>
  {{ end }}
</div>

<h2>Comments</h2> 
{{ template "_internal/disqus.html" . }}
{{ end }}
