{{ define "main" -}}
<div class="post">
  <h1 class="post-title">{{ .Title }}</h1>
  <span class="post-date">{{ .Date.Format "January 2, 2006" }}<span style="padding-left:0.5rem">{{ if ne .Lastmod .Date }}(last updated: {{ .Lastmod.Format "January 2, 2006" }}){{ end }}</span></span>
  {{ .Content }}
  {{ if isset .Params "link" }}
    <p>The published version of this article is available through the publisher's website. <a href="{{ .Params.link }}">[Link]</a></p>
  {{ end }}
</div>

<div class="post">
<h2>Full text</h2>
{{ if isset .Params "fulltext" }}
  <object data="/publications/pdf/{{ .Params.fulltext }}#pagemode=none" type="application/pdf" style="border: 1px solid lightgrey;" width="100%" height="500px">
    <iframe src="/publications/pdf/{{ .Params.fulltext }}#pagemode=none" style="border: 1px solid lightgrey;" width="100%" height="500px">
      This browser does not support PDFs. Please download the file to view it. <a href="/publications/pdf/{{ .Params.fulltext }}">[Link]</a>
    </iframe>
  </object>
{{ else }}
<p>Unfortunately, there is no full text for this article (yet).</p>
{{ end }}
</div>

{{ if .Params.footer }}
<div class="post">
<h2>Citation</h2>
  {{ partial (print "element-publication-" .Params.pubtype ".html") . }}
</div>
{{ end }}

{{- end }}
